<div class="quote-page-container">
    <video autoplay muted loop id="backgroundVideo">
        <source src="assets/background-hero-video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="logo-container">
        <img src="assets/logo.svg" alt="Logo" (click)="goToAboutPage()">
    </div>
    <div class="quote-content" *ngIf="quote">
        <div class="quote-image">
            <img [src]="quote.image" alt="Quote Image">
        </div>
    </div>
    <button id="myReadButton"
        class="bg-t2orange border border-t2black font-base hover:hovered-welcome-button text-lg py-1 px-6 rounded-full"
        (click)="readFullArticle()">
        Read full article
    </button>
</div>