.quote-page-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    #backgroundVideo {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
        z-index: -1;
        object-fit: cover;
        filter: brightness(45%);
    }

    .quote-content {
        z-index: 1;
        /* Ensure content is above the video */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 80vh;
        height: auto;
        width: auto;
        margin: auto;

        .quote-image {
            max-width: 80vw;
            max-height: 80vh;
            width: auto;
            height: auto;
            margin-top: 12rem;

            img {
                width: auto;
                max-height: 80vh;
                max-width: 80vw;
                height: auto;
                box-shadow: 15px 15px;
                //border-radius: 10px;
                //border: 2px solid white;
            }
        }

        #myReadButton {
            margin: auto;
            margin-top: 1.2rem;
        }
    }

    .logo-container {
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        flex: 1;
        flex-direction: column;

        img {
            width: 2rem;
            height: auto;
            filter: brightness(75%);
        }
    }

}