.quote-page-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    #backgroundVideo {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
        z-index: -1;
        object-fit: cover;
        filter: brightness(75%);
    }

    .quote-content {
        position: relative;
        z-index: 1;
        /* Ensure content is above the video */
        display: flex;
        justify-content: center;
        margin-top: 10vh;

        .quote-image {
            max-width: 90vw;
            max-height: 90vw;
            width: auto;
            height: auto;
            margin: 0 auto;
            box-shadow: 15px 15px;

            img {
                width: auto;
                max-height: 80vh;
                max-width: 80vw;
                height: auto;
                //border-radius: 10px;
                //border: 2px solid white;
            }
        }
    }

    .logo-container {
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;

        img {
            width: 2rem;
            height: auto;
        }
    }
}