<div class="share-buttons-container">
    <button mat-icon-button class="share-icon-button" (click)="shareOnTwitter()">
        <img src="assets/icons/twitterx.png" alt="Twitter-X" />
    </button>
    <button mat-icon-button class="share-icon-button" (click)="shareOnWhatsApp()">
        <img src="assets/icons/whatsapp.svg" alt="WhatsApp" />
    </button>
    <button mat-flat-button class="share-button" (click)="readFullArticle()">Read full article</button>
    <button mat-flat-button class="share-button">Share with a friend</button>
</div>