<div class="share-buttons-container">
    <button mat-icon-button class="share-icon-button" (click)="shareOnTwitter()">
        <img src="assets/icons/twitterx.png" alt="Twitter-X" />
    </button>
    <button mat-icon-button class="share-icon-button" (click)="shareOnWhatsApp()">
        <img src="assets/icons/whatsapp.svg" alt="WhatsApp" />
    </button>
    <button class="bg-t2orange border border-t2black font-base hover:hovered-welcome-button 
        text-sm py-0.5 px-3 rounded-full" (click)="readFullArticle()">
        Read full article
    </button>
</div>