.share-buttons-container {
    background: transparent;
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 10px;
    width: 100%;
    padding: 10px 2px;

    .share-icon-button {
        background: #a75c5c00;
        border: none;

        img {
            width: 32px;
            height: 32px;
        }

    }

    .share-button {
        top: 8px;
        justify-content: center;
        background: #1A171B;
        color: white;
        font-size: smaller;
    }
}