.share-buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 0;

    .share-button {
        background: transparent;
        border: none;

        img {
            width: 32px;
            height: 32px;
        }
    }
}