<div class="share-buttons-container">
    <button mat-icon-button class="share-icon-button" (click)="shareOnTwitter()">
        <img src="assets/icons/icons8-twitterx.svg" alt="Twitter" />
    </button>
    <button mat-icon-button class="share-icon-button" (click)="shareOnInstagram()">
        <img src="assets/icons/icons8-instagram.svg" alt="Instagram" />
    </button>
    <button mat-flat-button class="share-button" (click)="readFullArticle()">Read full article</button>
    <button mat-flat-button class="share-button">Share with a friend</button>
</div>