<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@t2wrld" />
<meta name="twitter:title" content="t2 quotes" />
<meta name="twitter:description"
  content="Your words illuminate our digital realms, sparking endless creativity and inspiration in an open web" />
<meta name="twitter:image" content="https://html.sammy-codes.com/images/large-profile.jpg" />

<div class="hero">
  <div class="hero-content">
    <video onloadedmetadata="this.muted=true" autoplay muted loop id="myVideo">
      <source src="assets/background-hero-video.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <div class="logo-container">
      <img src="assets/logo.svg" alt="Logo" (click)="goToAboutPage()">
    </div>
    <audio loop autoplay #ref src="https://soundbible.com/grab.php?id=885&type=mp3"></audio>
    <button
      class="bg-t2orange border border-t2black font-base hover:hovered-welcome-button text-lg py-3 px-12 rounded-full"
      (click)="openDialog('300ms', '150ms')" [@fadeInOut]>
      Inspire me today
    </button>
  </div>
</div>