.modal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.4rem;
    background-color: rgba(167, 92, 92, 0);
}

.image-container {
    flex: 1; // Take remaining space
    display: flex;
    min-width: 30vw;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img {
    max-height: calc(100% - 80px);
    max-width: 70vw;
    width: 80%;
    height: auto;
    background-color: #a75c5c00;
    transition: opacity 1s ease-in-out;
    object-fit: contain;
}

.default-image {
    opacity: 0;
}

.actual-image {
    opacity: 1;
}

.share-buttons-container {
    position: fixed;
    height: 100px;
    bottom: 10%;
    left: 35%;
    background-color: #a75c5c00;
}