img {
    max-height: 100cqh;
    max-width: 600px;
    margin: 0 auto;
    width: auto;
    margin: 2px;
    border: 1.2rem solid white;
    //display: flex;

}

.share-buttons-container {
    //display: flex;
    position: absolute;
    display: inline-flex;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}