.modal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.4rem;
    background-color: rgba(167, 92, 92, 0);
}

img {
    max-height: 80vh;
    max-width: 90vw;
    margin: 0 auto;
    width: auto;
    height: auto;
    //outline: 1.2rem solid white;
    background-color: #a75c5c00;

}

.share-buttons-container {
    flex-grow: 1;
    background-color: #a75c5c00;
}