/* Import Angular Material Pre-built Theme */
@import './modified-angular-pink-style.css';


/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind components;



/* Global Styles */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Ivar Complete', Helvetica, sans-serif, "Helvetica Neue";
}

@layer components {
    .hovered-welcome-button {
        background-color: #1A171B;
        color: #ffffff;
        border-color: #ffffff;
    }
}

@font-face {
    font-family: 'Ivar Complete';
    src: url('/assets/fonts/IvarDisplay-Regular.woff2') format('woff2'),
        url('/assets/fonts/IvarDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ivar Complete';
    src: url('/assets/fonts/IvarComplete-Bold.woff2') format('woff2'),
        url('/assets/fonts/IvarComplete-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}