/* Import Angular Material Pre-built Theme */
@import './modified-angular-pink-style.css';


/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind components;

/* Global Styles */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue", sans-serif;
}

@layer components {
    .hovered-welcome-button {
        background-color: #1A171B;
        color: #ffffff;
        border-color: #ffffff;
    }
}